.font-big {
    font-size: 35px;
}
.height-set {
    height: 200px;
}
#app {
    background-color: white;
    transition: background-color .1s;
}
.lower-padding {
    padding: 5px;
}
.font-chat {
    font-size: larger;
}
.wrong {
    background-color: grey;
    color: darkgrey
}
.white {
    background-color: white;
}